/* i cannot seem to access this animation name from elsewhere unless if i make it global (bug in bun's bundler?) */
@keyframes blinkTransition {
  0% {
    stroke: var(--firing-transition-color);
    stroke-width: 6px;
    filter: drop-shadow(0 0 5px var(--firing-transition-color));
  }
  100% {
    stroke: var(--fired-transition-color);
  }
}
