.statusBar {
  background-color: var(--statusbar-bg-color);
  color: var(--statusbar-fg-color);
}

.statusBar.error {
  background-color: var(--statusbar-error-bg-color);
  color: var(--statusbar-error-fg-color);
}

.statusBar summary:hover {
  background-color: color-mix(in srgb, var(--statusbar-bg-color) 60%, var(--background-color));
}
.statusBar.error summary:hover {
  background-color: color-mix(in srgb, var(--statusbar-error-bg-color) 70%, var(--text-color));
}

.statusBar a {
  color: inherit;
}

.greeter {
  /* border-top: 1px var(--separator-color) solid; */
  /* background-color: var(--background-color); */
}

.bottom {
  border-top: 1px var(--separator-color) solid;
  background-color: var(--bottom-panel-bg-color);
}