.errorStatus {
  /* background-color: rgb(230,0,0); */
  background-color: var(--error-color);
  color: white;
}

.bottom {
  border-top: 1px var(--separator-color) solid;
  background-color: var(--bottom-panel-bg-color);
}
