.tooltipOuter {
  position: relative;
  display: inline-block;
}

.tooltipInner {
  display: inline-block;
  visibility: hidden; /* hidden until hover */
  position: absolute;
  z-index: 1;

  margin-top: 4px;
  background-color: var(--tooltip-bg-color);
  color: var(--background-color);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: max-content;
  white-space: preserve;
  max-width: 180px;
  /* text-wrap: nowrap; */
  border-radius: 3px;
}

.tooltipOuter:hover > .tooltipInner:not(:hover),
.tooltipOuter:hover > .tooltipArrow:not(:hover) {
  visibility: visible;
  transition: visibility 0s linear 0.3s;
}


.tooltipInner.left {
  left: 0;
}

.tooltipInner.right {
  right: 0;
}

.tooltipInner.above {
  /* top: 0; */
  bottom: 100%;
  /* transform: translateY(-100%); */
  margin-top: 0;
  margin-bottom: 4px;
}

.tooltipArrow {
  content: '';
  position: absolute;
  visibility: hidden;
  z-index: 1;

  width: 8px;
  height: 4px;
  margin-left: 4px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--tooltip-bg-color);
}

.tooltipArrow.above {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  margin-top: -4px;
}
