.tooltipOuter {
  position: relative;
  display: inline-block;
}


/* Visibility, etc. */
.tooltipOuter.fullWidth {
  display: flex;
  flex-grow: 1;
}
.tooltipInner,
.tooltipArrow {
  position: absolute;
  z-index: 3;
}
.blurOnHover {
  visibility: hidden;
}
.tooltipOuter.onfocus .tooltipInner,
.tooltipOuter.onalways .tooltipInner{
  /* tooltips that are visible when focused on their parent are visible for longer, so they should stack a bit lower than other tooltips that are visible while hovering */
  z-index: 2;
}
.tooltipOuter.onfocus:focus-within .blurOnHover
{
  visibility: visible;
  transition: none; /* <-- necessary, otherwise when the class changes from 'onhover' to something else, the animation will remain */
}
.tooltipOuter.onalways .blurOnHover {
  visibility: visible;
  transition: none; /* <-- necessary, otherwise when the class changes from 'onhover' to something else, the animation will remain */
}
.tooltipOuter.onhover:hover .blurOnHover:not(:hover) /* <-- hovering the tooltip itself does not count as hovering */
{
  visibility: visible;
  transition: visibility 0s linear 0.5s; /* delay */
}

/* Horizontal position */
.tooltipInner {
  left: 50%;
  transform: translateX(-50%);
}
.tooltipOuter.left .tooltipInner {
  transform: revert;
  left: 0;
}
.tooltipOuter.right .tooltipInner {
  transform: revert;
  left: revert;
  right: 0;
}
.tooltipArrow {
  /* center the arrow on the element: */
  left: calc(50% - 4px);
}
.tooltipOuter.left .tooltipArrow {
  left: 8px;
}
.tooltipOuter.right .tooltipArrow {
  left: revert;
  right: 8px;
}

/* Vertical position */
.tooltipInner {
  top: 100%;
  margin-top: calc(var(--tooltip-arrow-size) - 1px);
}
.tooltipArrow {
  top: 100%;
}

/* Overrides for 'above' variant */
.tooltipOuter.above .tooltipInner {
  top: revert;
  margin-top: revert;
  bottom: 100%;
  margin-bottom: calc(var(--tooltip-arrow-size) - 1px);
}
.tooltipOuter.above .tooltipArrow {
  top: revert;
  bottom: 100%;
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%); /* upside down */
}




/* Looks */
.tooltipInner {
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-fg-color);
  border-radius: 3px;
  width: max-content;
  white-space: preserve;
  max-width: 200px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: normal;
  user-select: none;
  font-weight: 400;
}
.blurOnHover:hover *
{
  background-color: color-mix(in srgb, grey 30%, var(--tooltip-bg-color));
  color: color-mix(in srgb, grey 30%, var(--tooltip-fg-color));

  /* tooltips should never obstruct the view */
  /* this really only applies to tooltips that remain visible for as long as an input element is focused */
  opacity: 0.25;
  filter: blur(0.75px);
}
.tooltipArrow {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--tooltip-bg-color);
  width: 8px;
  height: var(--tooltip-arrow-size);
}
.tooltipOuter.error .tooltipInner {
  background-color: var(--error-color);
  /* color: */
}
.tooltipOuter.error .tooltipArrow {
  background-color: var(--error-color);
}
