.tooltipOuter {
  position: relative;
  display: inline-block;
}


/* Visibility, etc. */
.tooltipOuter.fullWidth {
  display: flex;
  flex-grow: 1;
}
.tooltipInner, .tooltipArrow {
  position: absolute;
  z-index: 2;
  visibility: hidden;
}
.tooltipOuter.whenFocus:focus-within .tooltipInner,
.tooltipOuter.whenFocus:focus-within .tooltipArrow
{
  visibility: visible;
}
.tooltipOuter:not(.whenFocus):hover .tooltipInner,
.tooltipOuter:not(.whenFocus):hover .tooltipArrow
{
  visibility: visible;
  transition: visibility 0s linear 0.5s;
}

/* Horizontal position */
.tooltipInner {
  left: 50%;
  transform: translateX(-50%);
}
.tooltipOuter.left .tooltipInner {
  transform: revert;
  left: 0;
}
.tooltipOuter.right .tooltipInner {
  transform: revert;
  left: revert;
  right: 0;
}
.tooltipArrow {
  /* center the arrow on the element: */
  left: calc(50% - 4px);
}
.tooltipOuter.left .tooltipArrow {
  left: 8px;
}
.tooltipOuter.right .tooltipArrow {
  left: revert;
  right: 8px;
}

/* Vertical position */
.tooltipInner {
  top: 100%;
  margin-top: var(--tooltip-arrow-size);
}
.tooltipArrow {
  top: 100%;
}

/* Overrides for 'above' variant */
.tooltipOuter.above .tooltipInner {
  top: revert;
  margin-top: revert;
  bottom: 100%;
  margin-bottom: var(--tooltip-arrow-size);
}
.tooltipOuter.above .tooltipArrow {
  top: revert;
  bottom: 100%;
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%); /* upside down */
}




/* Looks */
.tooltipInner {
  background-color: var(--tooltip-bg-color);
  color: var(--background-color);
  border-radius: 3px;
  width: max-content;
  white-space: preserve;
  max-width: 200px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: normal;
  user-select: none;;
}
.blurOnHover:hover *
{
  background-color: color-mix(in srgb, grey 30%, var(--tooltip-bg-color));
  color: color-mix(in srgb, grey 30%, var(--background-color));
  /* tooltips should never obstruct the view */
  opacity: 0.25;
  filter: blur(0.75px);
}
.tooltipArrow {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--tooltip-bg-color);
  width: 8px;
  height: var(--tooltip-arrow-size);
}
.tooltipOuter.error .tooltipInner {
  background-color: var(--error-color);
}
.tooltipOuter.error .tooltipArrow {
  background-color: var(--error-color);
}
