.tooltipOuter {
  position: relative;
  display: inline-block;
}

.tooltipOuter.fullWidth {
  display: flex;
  flex-grow: 1;
}

.tooltipInner {
  display: inline-block;
  visibility: hidden; /* hidden until hover */
  position: absolute;
  z-index: 2;

  top: 100%;
  margin-top: var(--tooltip-arrow-size);
  background-color: var(--tooltip-bg-color);
  color: var(--background-color);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: max-content;
  white-space: preserve;
  max-width: 180px;
  border-radius: 3px;
}

.tooltipArrow {
  content: '';
  position: absolute;
  z-index: 2;

  width: 8px;
  height: var(--tooltip-arrow-size);
  left: 8px;

  bottom: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--tooltip-bg-color);
}

.tooltipOuter:hover .tooltipInner:not(.whenFocus) {
  visibility: visible;
  transition: visibility 0s linear 0.5s;
}

.tooltipOuter:focus-within .tooltipInner.whenFocus {
  visibility: visible;
}

.tooltipInner.left {
  left: 0;
}
.tooltipInner.right {
  right: 0;
}
.tooltipInner.right > .tooltipArrow {
  right: 8px;
  left: revert;
}


.tooltipInner.error {
  background-color: var(--error-color);
}
.tooltipInner.error > .tooltipArrow {
  background-color: var(--error-color);
}

.tooltipInner.above {
  top: revert;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: var(--tooltip-arrow-size);
}
.tooltipInner.above > .tooltipArrow {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  bottom: revert;
  top: 100%;
  margin-top: - var(--tooltip-arrow-size);
}

/* tooltips should never obstruct the view */
.tooltipInner:hover {
  opacity: 0.2;
  filter: blur(1px);
}
