.tooltipOuter {
  position: relative;
  display: inline-block;
}

.tooltipOuter.fullWidth {
  /* display: block; */
  /* width: 100%; */
  display: flex;
  flex-grow: 1;
}

.tooltipInner {
  display: inline-block;
  visibility: hidden; /* hidden until hover */
  position: absolute;
  z-index: 2;

  top: 100%;
  margin-top: var(--tooltip-arrow-size);
  background-color: var(--tooltip-bg-color);
  color: var(--background-color);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: max-content;
  white-space: preserve;
  max-width: 180px;
  /* text-wrap: nowrap; */
  border-radius: 3px;
}

body:not(:has(:focus)) .tooltipOuter:hover > .tooltipInner:not(:hover),
body:not(:has(:focus)) .tooltipOuter:hover > .tooltipArrow:not(:hover)
 {
  visibility: visible;
  transition: visibility 0s linear 0.5s;
}

.tooltipOuter:focus-within > .tooltipInner,
.tooltipOuter:focus-within > .tooltipArrow {
  visibility: visible !important;
  transition: none !important;
}

.tooltipInner.left {
  left: 0;
}
.tooltipInner.right {
  right: 0;
}

.tooltipInner.error {
  background-color: var(--error-color);
}

.tooltipArrow {
  content: '';
  position: absolute;
  visibility: hidden;
  z-index: 2;

  top: 100%;
  margin-top: 1px;
  width: 8px;
  height: var(--tooltip-arrow-size);
  margin-left: 4px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--tooltip-bg-color);
}

.tooltipInner.above {
  top: revert;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: var(--tooltip-arrow-size);
}

.tooltipArrow.above {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  top: revert;
  bottom: 100%;
  margin-top: - var(--tooltip-arrow-size);
}

.tooltipArrow.error {
  background-color: var(--error-color);
}
