.modalOuter {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--modal-backdrop-color);
  z-index: 1000;
}

.modalInner {
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: var(--background-color);
  max-height: 100vh;
  overflow: auto;
}
