/* details {
  padding-left: 20;
}
summary {
  margin-left: -20;
} */

.runtimeState {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
}

.runtimeState:hover {
  /* background-color: rgba(255, 140, 0, 0.2); */
  background-color: rgba(0,0,255,0.2);
  cursor: pointer;
}
.runtimeState.active {
  /* background-color: rgba(255, 140, 0, 0.2); */
  background-color: rgba(0,0,255,0.2);
  /* border: solid black 3px; */
  border: solid blue 2px;
}
/* details:not(:has(details)) > summary::marker {
  color: white;
} */

.readonlyTextBox {
  width: 56;
  background-color:"#eee";
  text-align: "right";
}

.toolbar * {
  vertical-align: middle;
}

.toolbar input {
  height: 20px;
}
.toolbar div {
  vertical-align: bottom;
}
.toolbar button {
  height: 26px;
}

.toolbarGroup {
  display: inline-block;
}

button.active {
  border: solid blue 2px;
  background-color: rgba(0,0,255,0.2);
  color: black;
}

.modalOuter {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(200,200,200,0.7);
}

.modalInner {
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: white;
  max-height: 100vh;
  overflow: auto;
}
