.layoutVertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.panel {
  height: 1.5rem;
  background-color: lightgrey;
}
.layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 1.5rem);
}

.sidebar {
  flex: 0 0 content;
  padding-right: 4px;
}
.content {
  flex: 1 1 auto;
  overflow: auto;
}

details {
  padding-left :10;
}
/* details:not(:has(details)) > summary::marker {
  color: white;
} */