/* .layoutVertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.panel {
  height: 1.5rem;
  background-color: lightgrey;
}
.layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 1.5rem);
}

.sidebar {
  flex: 0 0 content;
  padding-right: 4px;
}
.content {
  flex: 1 1 auto;
  overflow: auto;
} */

details {
  padding-left: 20;
  /* margin-left: 30; */
}
summary {
  margin-left: -20;
}

.runtimeState {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
}

.runtimeState:hover {
  /* background-color: rgba(255, 140, 0, 0.2); */
  background-color: rgba(0,0,255,0.2);
  cursor: pointer;
}
.runtimeState.active {
  /* background-color: rgba(255, 140, 0, 0.2); */
  background-color: rgba(0,0,255,0.2);
  /* border: solid black 3px; */
  border: solid blue 2px;
}
/* details:not(:has(details)) > summary::marker {
  color: white;
} */

.readonlyTextBox {
  width: 56;
  background-color:"#eee";
  text-align: "right";
}



.toolbar > * {
  vertical-align: middle;
  height: 26px;
}
.toolbar > input {
  height: 20px;
}