/* details {
  padding-left: 20;
}
summary {
  margin-left: -20;
} */

details:has(+ details) {
  border-bottom: 1px lightgrey solid;
}

.runtimeState {
  padding: 4px;
  /* padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px; */
}

.runtimeState:has(+.runtimeState) {
  border-bottom: 1px lightgrey solid;
}
.runtimeState:has(+.runtimeState.active) {
  border-bottom: 0;
}

.runtimeState:hover {
  /* background-color: rgba(255, 140, 0, 0.2); */
  background-color: rgba(0,0,255,0.2);
  cursor: pointer;
}
.runtimeState.active {
  background-color: rgba(0,0,255,0.2);
  border: solid blue 1px;
}
.runtimeState.plantStep * {
  color: grey;
}

.runtimeState.runtimeError {
  background-color: lightpink;
  color: darkred;
}

.runtimeState.runtimeError.active {
  border-color: darkred;
}

/* details:not(:has(details)) > summary::marker {
  color: white;
} */

.readonlyTextBox {
  width: 56;
  background-color:"#eee";
  text-align: "right";
}

.toolbar * {
  vertical-align: middle;
}

.toolbar input {
  height: 20px;
}
.toolbar div {
  vertical-align: bottom;
}
.toolbar button {
  height: 26px;
}

.toolbarGroup {
  display: inline-block;
}

button {
  background-color: #fcfcfc;
  border: 1px lightgrey solid;
}

button:not(:disabled):hover {
  background-color: rgba(0, 0, 255, 0.2);
}

button.active {
  border: solid blue 1px;
  background-color: rgba(0,0,255,0.2);
  /* margin-right: 1px; */
  /* margin-left: 0; */
  color: black;
}

.modalOuter {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(200,200,200,0.7);
  z-index: 1000;
}

.modalInner {
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: white;
  max-height: 100vh;
  overflow: auto;
}

div.stackVertical {
  display: flex;
  flex-direction: column;
}

div.stackHorizontal {
  display: flex;
  flex-direction: row;
}

div.status {
  display: inline-block;
  vertical-align: middle;
  background-color: grey;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

div.status.violated {
  background-color: var(--error-color);
}

div.status.satisfied {
  background-color: forestgreen;
}

