details:has(+ details) {
  border-bottom: 1px var(--separator-color) solid;
}

.runtimeState {
  padding: 4px;
}

.runtimeState:has(+.runtimeState) {
  border-bottom: 1px var(--separator-color) solid;
}
.runtimeState:has(+.runtimeState.active) {
  border-bottom: 0;
}

.runtimeState:hover {
  background-color: var(--light-accent-color);
  cursor: pointer;
}
.runtimeState.active {
  background-color: var(--light-accent-color);
  border: solid var(--accent-border-color) 1px;
}
.runtimeState.plantStep:not(.active) {
  background-color: var(--inactive-bg-color);
}
.runtimeState.plantStep * {
  color: var(--inactive-fg-color);
}

.runtimeState.runtimeError {
  background-color: var(--error-bg-color);
  color: var(--error-color); /* used to be darkred, but this one's a bit lighter */
}

.runtimeState.runtimeError.active {
  border-color: var(--error-color);/* used to be darkred, but this one's a bit lighter */
}

.readonlyTextBox {
  width: 56;
  text-align: "right";
}

.toolbar * {
  vertical-align: middle;
}

.toolbar input {
  height: 26px;
  box-sizing: border-box;
}
.toolbar div {
  vertical-align: bottom;
}
.toolbar button {
  height: 26px;
}

.toolbarGroup {
  display: inline-block;
}

.modalOuter {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--modal-backdrop-color);
  z-index: 1000;
}

.modalInner {
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: var(--background-color);
  max-height: 100vh;
  overflow: auto;
}

div.stackVertical {
  display: flex;
  flex-direction: column;
}

div.stackHorizontal {
  display: flex;
  flex-direction: row;
}

div.status {
  display: inline-block;
  vertical-align: middle;
  background-color: var(--status-inactive-color);
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin-left: 4px;
  margin-right: 4px;
}

div.status.violated {
  background-color: var(--error-color);
}

div.status.satisfied {
  background-color: var(--status-ok-color);
}

