.App {
  height: 100%;

  color-scheme: light dark;

  --background-color: light-dark(white, rgb(31, 33, 36));
  --text-color: light-dark(black, white);
  --error-color: light-dark(rgb(204, 0, 0), rgb(255, 82, 82));
  --error-bg-color: light-dark(lightpink, rgb(75, 0, 0));
  --error-hover-bg-color: light-dark(rgb(102, 0, 0), rgb(238, 153, 153));
  --light-accent-color: light-dark(#1b45ff62, rgba(28, 71, 100, 0.377));
  --accent-border-color: light-dark(rgb(69, 48, 255), rgb(64, 185, 255));
  --accent-opaque-color: light-dark(#bbc0f8, #132731);

  --statusbar-bg-color: light-dark(rgb(225, 229, 235), rgb(48, 48, 68));
  --statusbar-fg-color: light-dark(rgb(0, 0, 0), white);
  --statusbar-error-bg-color: light-dark(rgb(163, 0, 0), rgb(255, 82, 82));
  --statusbar-error-fg-color: light-dark(white, black);

  --tooltip-bg-color: light-dark(rgb(107, 107, 167), #305b73);
  --tooltip-fg-color: light-dark(white, white);

  --separator-color: light-dark(lightgrey, rgb(58, 58, 58));
  --inactive-bg-color: light-dark(#f7f7f7, rgb(29, 29, 29));
  --inactive-fg-color: light-dark(grey, rgb(165, 165, 165));
  --button-bg-color: light-dark(#e3e8f0, rgb(44, 50, 63));
  --textbox-bg-color: light-dark(white, rgb(36, 41, 40));
  --modal-backdrop-color: light-dark(rgba(200,200,200,0.7), rgba(23, 22, 32, 0.849));
  --status-inactive-color: light-dark(grey, grey);
  --status-ok-color: light-dark(rgb(70, 160, 70), rgb(105, 199, 105));
  --status-nok-color: light-dark(rgb(206, 77, 77), rgb(255, 82, 82));
  --or-state-bg-color: light-dark(#eee, #000000);
  --and-state-bg-color: light-dark(white, rgb(49, 49, 49));
  --rountangle-stroke-color: light-dark(black, #ffffff);
  --uid-color: light-dark(lightgrey, rgb(92, 92, 92));
  --active-state-bg-color: light-dark(rgb(255, 240, 214), rgb(112, 65, 47));
  --active-state-border-color: light-dark(rgb(205, 133, 0), rgb(255, 165, 105));
  --fired-transition-color: light-dark(rgb(160, 0, 168), rgb(160, 0, 168));
  --firing-transition-color: light-dark(rgba(255, 128, 9, 1), rgba(255, 128, 9, 1));
  --associated-color: light-dark(rgb(72, 160, 0), rgb(186, 245, 119));
  --greeter-bg-color: light-dark(rgb(255, 249, 235), rgb(24, 40, 70));
  /* --bottom-panel-bg-color: light-dark(rgb(219, 219, 219), rgb(31, 33, 36)); */
  --summary-hover-bg-color: light-dark(#eee, #2e2f35);
  --internal-event-bg-color: light-dark(rgb(255, 218, 252), rgb(167, 0, 155));
  --input-event-bg-color: light-dark(rgb(224, 247, 209), rgb(70, 128, 34));
  --input-event-hover-bg-color: light-dark(rgb(195, 224, 176), rgb(59, 88, 40));
  --input-event-active-bg-color: light-dark(rgb(176, 204, 158), rgb(77, 117, 53));
  --output-event-bg-color: light-dark(rgb(230, 249, 255), rgb(0, 95, 158));
  
  --foundtext-color: rgb(255, 0, 255);

  --plot-color-0: light-dark(darkblue, lightblue);
  --plot-color-1: light-dark(darkgreen, lightgreen);
  --plot-color-2: light-dark(darkred, red);
  --plot-color-3: light-dark(darkorange, orange);
  --plot-color-4: light-dark(rgb(222, 224, 74), yellow);
  --plot-color-5: light-dark(magenta, pink);

  background-color: var(--background-color);
  color: var(--text-color);

  --tooltip-arrow-size: 6px;

  --button-roundedness: 6px;
}

.App input {
  background-color: var(--textbox-bg-color);
  border: 1px solid var(--separator-color);
}

.App button,
.App input[type="submit"] {
  background-color: var(--button-bg-color);
  border: 1px var(--separator-color) solid;
  box-sizing: border-box;
}

.App button:not(:disabled):hover, input[type="submit"]:not(:disabled):hover {
  background-color: var(--light-accent-color);
}

.App button:disabled,
.App input[type="submit"]:disabled {
  background-color: var(--inactive-bg-color);
  color: var(--inactive-fg-color);
}

.App button:active:not(:disabled) {
  box-shadow: inset 0 0 4 2 rgba(0, 0, 0, 0.5);
}

.App button.active {
  border: solid var(--accent-border-color) 1px;
  background-color: var(--accent-opaque-color);
  color: var(--text-color);
}

.App kbd {
  display: inline-block;
  padding: .12em .3em;
  padding-bottom: 3px;
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  font-size: .9em;
  line-height: 1;
  border: 0.8px solid #aaa;
  border-radius: 4px;
  background: linear-gradient(#ebebeb, #fff);
  box-shadow: inset 0 -1.5px 0 #aaa;
  vertical-align: middle;
  user-select: none;
  color: black;
}
.App kbd:active { transform: translateY(1px); }

.App input {
  /* border: solid blue 2px; */
  accent-color: var(--accent-opaque-color);
}

.App input[type=checkbox] {
  margin: 0 3 0 3;
}

.App ::selection {
  background-color: var(--light-accent-color);
}

.App label {
  user-select: none;
}

.App input[type=text].error,
.App textarea.error {
  background-color: var(--error-bg-color);
}

.App th, .App td {
  border-bottom: 1px solid var(--separator-color);
  vertical-align: top;
}
/* leave a bit of space between table columns */
.App th:has(+ th), .App td:has(+ td) {
  padding-right: 1em;
}
.App table {
  text-align: left;
  border-collapse: collapse;
}

.App ul {
  list-style-type: none;
}

.App *:focus-visible {
  z-index: 1;
}

.App details:has(+ details) {
  border-bottom: 1px var(--separator-color) solid;
}

.shadowBelow {
  box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.stackVertical {
  display: flex;
  flex-direction: column;
}

.stackHorizontal {
  display: flex;
  flex-direction: row;
}

.toolbar {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}
/* input elements have rounded corners by default */
.toolbar button,
.toolbar input:not([type=checkbox]) {
  height: 26px;

  border-top-right-radius: var(--button-roundedness);
  border-bottom-right-radius: var(--button-roundedness);
  border-top-left-radius: var(--button-roundedness);
  border-bottom-left-radius: var(--button-roundedness);
}

/* no rounded corners if input element touches another input element that is part of the same toolbar */
.toolbar:not(:has(.toolbar)) *:has(+ * button) button,
.toolbar:not(:has(.toolbar)) *:has(+ * input) button,
.toolbar:not(:has(.toolbar)) *:has(+ * button) input,
.toolbar:not(:has(.toolbar)) *:has(+ * input) input
 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.toolbar:not(:has(.toolbar)) *:has(button) + * button,
.toolbar:not(:has(.toolbar)) *:has(input) + * button,
.toolbar:not(:has(.toolbar)) *:has(button) + * input,
.toolbar:not(:has(.toolbar)) *:has(input) + * input
 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.statusBar {
  background-color: var(--statusbar-bg-color);
  color: var(--statusbar-fg-color);
}
.statusBar.error {
  background-color: var(--statusbar-error-bg-color);
  color: var(--statusbar-error-fg-color);
}
.statusBar summary:hover {
  background-color: color-mix(in srgb, var(--statusbar-bg-color) 60%, var(--background-color));
}
.statusBar.error summary:hover {
  background-color: color-mix(in srgb, var(--statusbar-error-bg-color) 70%, var(--text-color));
}
.statusBar a {
  color: inherit;
}

.description {
  font-style: italic;
}