details.active  {
  border: rgb(192, 125, 0);
  background-color:rgb(255, 251, 244);
  filter: drop-shadow( 0px 0px 3px rgba(192, 125, 0, 0.856));
}

details > summary {
  padding: 2px;
}

/* these two rules add a bit of padding to an opened <details> node */
/* details:open > summary:has(+ *) {
  margin-bottom: 4px;
}
details:open:has(>summary:has(+ *)) {
  padding-bottom: 8px;
} */

details > summary:hover {
  background-color: #eee;
  cursor: default;
}

.errorStatus details > summary:hover {
  background-color: rgb(102, 0, 0);
}

.stateTree > * { 
  padding-left: 10px;
  /* border: 1px black solid; */
  background-color: white;
  /* margin-bottom: 4px; */
  /* padding-right: 2px; */
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
  /* color: black; */
  /* width: fit-content; */
  /* border-radius: 10px; */
}

/* if <details> has no children (besides the obvious <summary> child), then hide the marker */
/* details:not(:has(:not(summary))) > summary::marker {
  content: "    ";
} */

.outputEvent {
  border: 1px black solid;
  border-radius: 6px;
  /* margin-left: 4px; */
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgb(230, 249, 255);
  color: black;
  display: inline-block;
}

.internalEvent {
  border: 1px black solid;
  border-radius: 6px;
  /* margin-left: 4px; */
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgb(255, 218, 252);
  color: black;
  display: inline-block;
}

.inputEvent {
  border: 1px black solid;
  border-radius: 6px;
  /* margin-left: 4px; */
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgb(224, 247, 209);
  color: black;
  display: inline-block;
}
.inputEvent * {
  vertical-align: middle;
}
button.inputEvent:hover:not(:disabled) {
  background-color: rgb(195, 224, 176);
}
button.inputEvent:active:not(:disabled) {
  background-color: rgb(176, 204, 158);
}

.activeState {
  border: rgb(192, 125, 0);
  background-color:rgb(255, 251, 244);
  filter: drop-shadow( 0px 0px 3px rgba(192, 125, 0, 0.856));
  border-radius: 6px;
  margin-left: 4px;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
}

/* hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  margin-top: -1px;
  margin-bottom: -5px;
  padding: 0;
  z-index: -1;
} */

ul {
  list-style-type: circle;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 24px;
  /* list-style-position: ; */
}

.shadowBelow {
  box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
