details.active  {
  /* background-color: rgba(128, 72, 0, 0.855);
  color: white; */
  border: rgb(192, 125, 0);
  background-color:rgb(255, 251, 244);
  filter: drop-shadow( 0px 0px 3px rgba(192, 125, 0, 0.856));
}

details { 
  border: 1px black solid;
  /* border-radius: 5px; */
  background-color: white;
  margin-bottom: 4px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: black;
  width: fit-content;
  border-radius: 10px;
}