details.active  {
  /* background-color: rgba(128, 72, 0, 0.855);
  color: white; */
  border: rgb(192, 125, 0);
  background-color:rgb(255, 251, 244);
  filter: drop-shadow( 0px 0px 3px rgba(192, 125, 0, 0.856));
}

details { 
  border: 1px black solid;
  /* border-radius: 5px; */
  background-color: white;
  margin-bottom: 4px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: black;
  width: fit-content;
  border-radius: 10px;
}

.outputEvent {
  border: 1px black solid;
  border-radius: 6px;
  margin-left: 4px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgb(230, 249, 255);
  display: inline-block;
}

.activeState {
  border: rgb(192, 125, 0);
  background-color:rgb(255, 251, 244);
  filter: drop-shadow( 0px 0px 3px rgba(192, 125, 0, 0.856));
  border-radius: 6px;
  margin-left: 4px;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  margin-bottom: -3px;
  padding: 0;
}
