.errorStatus {
  /* background-color: rgb(230,0,0); */
  background-color: var(--error-color);
  color: white;
}

.bottom {
  border-top: 1px lightgrey solid;
  background-color: rgb(255, 249, 235);
}