
details > summary {
  /* padding: 2px; */
}

details > summary:hover {
  background-color: var(--summary-hover-bg-color);
  cursor: default;
}

.errorStatus details > summary:hover {
  background-color: var(--error-hover-bg-color);
}

.activeState {
  border: var(--active-state-border-color) 1px solid;
  background-color: var(--active-state-bg-color);
  border-radius: 6px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
  color: var(--text-color);
}
