
details > summary {
  padding: 2px;
}

details > summary:hover {
  background-color: var(--summary-hover-bg-color);
  cursor: default;
}

.errorStatus details > summary:hover {
  background-color: var(--error-hover-bg-color);
}

.stateTree > * { 
  padding-left: 10px;
  background-color: white;
}

.outputEvent {
  cursor: default;
  border: 1px var(--separator-color) solid;
  border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--output-event-bg-color);
  color: var(--text-color);
  display: inline-block;
}

.internalEvent {
  cursor: default;
  border: 1px var(--separator-color) solid;
  border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--internal-event-bg-color);
  color: var(--text-color);
  display: inline-block;
}

.inputEvent {
  border: 1px var(--separator-color) solid;
  border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--input-event-bg-color);
  color: var(--text-color);
  display: inline-block;
}
.inputEvent:disabled {
  color: darkgrey;
}
.inputEvent * {
  vertical-align: middle;
}
button.inputEvent:hover:not(:disabled) {
  background-color: var(--input-event-hover-bg-color);
}
button.inputEvent:active:not(:disabled) {
  background-color: var(--input-event-active-bg-color);
}

.activeState {
  /* border: rgb(192, 125, 0); */
  /* background-color:rgb(255, 251, 244); */
  border: var(--active-state-border-color) 1px solid;
  background-color: var(--active-state-bg-color);
  /* filter: drop-shadow( 0px 0px 3px rgba(192, 125, 0, 0.856)); */
  border-radius: 6px;
  margin-left: 4px;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
  color: var(--text-color);
}

/* hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  margin-top: -1px;
  margin-bottom: -5px;
  padding: 0;
  z-index: -1;
} */

ul {
  list-style-type: circle;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 24px;
  /* list-style-position: ; */
}

.shadowBelow {
  box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
