.svgCanvas {
  cursor: crosshair;
}

text, text.highlight {
  user-select: none;
  /* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; */
  /* -webkit-text-stroke: 4px white; */
  paint-order: stroke;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  fill-opacity:1;
  /* font-weight: 800; */
}

text.highlight {
  fill: green;
  font-weight: 600;
}

.selecting {
  fill: rgba(0, 0, 255, 0.2);
  stroke-width: 1px;
  stroke:black;
  stroke-dasharray: 7 6;
}

.rountangle {
  fill: rgba(255, 255, 255, 255);
  /* fill: none; */
  stroke: black;
  stroke-width: 2px;
}

.rountangle:hover {
  /* fill: lightgrey; */
  /* stroke-width: 4px; */
  /* cursor: grab; */
}

.rountangle.dragging {
  /* fill: lightgrey; */
  /* stroke-width: 4px; */
  cursor: grabbing;
}

.rountangle.selected {
  fill: rgba(0, 0, 255, 0.2);
  /* stroke: blue;
  stroke-width: 4px; */
}
.rountangle.error {
  stroke: rgb(230,0,0);
}

.selected:hover {
  cursor: grab;
}

.lineHelper {
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 16px;
}
.lineHelper:hover {
  stroke: rgba(0, 255, 0, 0.2);
  cursor: grab;
}

.circleHelper {
  fill: rgba(0, 0, 0, 0);
}
.circleHelper:hover {
  fill: rgba(0, 255, 0, 0.2);
  cursor: grab;
}

.rountangle.or {
  stroke-dasharray: 7 6;
}

.arrow {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.arrow.selected {
  stroke: blue;
  stroke-width: 3px;
}

/* .arrow.selected {
  stroke: blue;
  stroke-width: 4px;
} */


#arrowEnd {
  fill: context-stroke;
}

.arrow:hover {
  cursor: grab;
}




line.selected, circle.selected {
  fill: rgba(0, 0, 255, 0.2);
  /* stroke-dasharray: 7 6; */
  stroke: blue;
  stroke-width: 4px;
}

text.selected, text.selected:hover {
  fill: blue;
  font-weight: 600;
}
text:hover {
  fill: darkcyan;
  /* cursor: grab; */
}

.highlight {
  stroke: green;
  stroke-width: 3px;
}

.arrow.error {
  stroke: rgb(230,0,0);
}
text.error, tspan.error {
  fill: rgb(230,0,0);
  font-weight: 600;
}

.errorHover {
  display: none;
}

g:hover > .errorHover {
  display: inline;
}

text.uid {
  fill: lightgrey;
}