.svgCanvas {
  cursor: crosshair;
  background-color: #eee;
}

.svgCanvas.dragging  {
  cursor: grabbing !important;
}

.svgCanvas.active {
  background-color: rgb(255, 140, 0, 0.2);
}

text, text.highlight {
  user-select: none;
  /* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; */
  /* -webkit-text-stroke: 4px white; */
  paint-order: stroke;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  fill-opacity:1;
  /* font-weight: 800; */
}

text.highlight {
  fill: green;
  font-weight: 600;
}

.selecting {
  fill: blue;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke:black;
  stroke-dasharray: 7 6;
}

.rountangle {
  fill: white;
  /* fill: none; */
  stroke: black;
  stroke-width: 2px;
}

.rountangle:hover {
  /* stroke: blue; */
  /* stroke-opacity: 0.2; */
  /* fill: #eee; */
  /* stroke-width: 4px; */
  /* cursor: grab; */
}

.rountangle.selected {
  fill: rgba(0, 0, 255, 0.2);
  /* stroke: blue;
  stroke-width: 4px; */
}
.rountangle.error {
  stroke: rgb(230,0,0);
}
.rountangle.active {
  fill: darkorange;
  fill-opacity: 0.2;
  /* filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7)); */
  stroke-width: 3px;
}

.selected:hover:not(:active) {
  cursor: grab;
}

.lineHelper {
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 16px;
}
.lineHelper:hover:not(:active) {
  stroke: blue;
  stroke-opacity: 0.2;
  cursor: grab;
}

.pathHelper {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 16px;
}
.pathHelper:hover:not(:active) {
  stroke: blue;
  stroke-opacity: 0.2;
  cursor: grab;
}


.circleHelper {
  fill: rgba(0, 0, 0, 0);
}
.circleHelper:hover:not(:active) {
  fill: blue;
  fill-opacity: 0.2;
  cursor: grab;
}

.rountangle.or {
  stroke-dasharray: 7 6;
  fill: #eee;
}

.arrow {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.arrow.selected {
  stroke: blue;
  stroke-width: 3px;
}

/* .arrow.selected {
  stroke: blue;
  stroke-width: 4px;
} */


#arrowEnd {
  fill: context-stroke;
}

.arrow:hover {
  cursor: grab;
}

line.selected, circle.selected {
  fill: rgba(0, 0, 255, 0.2);
  /* stroke-dasharray: 7 6; */
  stroke: blue;
  stroke-width: 4px;
}

text.selected, text.selected:hover {
  fill: blue;
  font-weight: 600;
}
text:hover:not(:active) {
  fill: blue;
  cursor: grab;
}

.highlight {
  stroke: green;
  stroke-width: 3px;
}

.arrow.error {
  stroke: rgb(230,0,0);
}
text.error, tspan.error {
  fill: rgb(230,0,0);
  font-weight: 600;
}

.errorHover {
  display: none;
}

g:hover > .errorHover {
  display: inline;
}

text.uid {
  fill: lightgrey;
}