html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
}

body {
  /* --error-color: darkred; */
  --error-color: rgb(163, 0, 0);
}

div#root {
  height: 100%;
}

kbd {
  display: inline-block;
  padding: .12em .3em;
  padding-bottom: 3px;
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  font-size: .9em;
  line-height: 1;
  border: 0.8px solid #aaa;
  border-radius: 4px;
  background: linear-gradient(#ebebeb, #fff);
  box-shadow: inset 0 -1.5px 0 #aaa;
  vertical-align: middle;
  user-select: none;
}
kbd:active { transform: translateY(1px); }


input {
  /* border: solid blue 2px; */
  accent-color: rgba(0,0,255,0.2);

  /* accent-color: blue; */
}

::selection {
  background-color: rgba(0,0,255,0.2);
}

label {
  user-select: none;
}
